/*-----------------*\
        LAYOUT
\*-----------------*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.content, #navbar {
  padding-left: 10%;
  padding-right: 10%;
}

.content-row {
  padding: 0.7rem 0rem;
}

.section-header {
  width: 60%;
  text-align: center;
  border-bottom: solid 2px #fff;
}

/*-----------------*\
       FUENTES
\*-----------------*/
@font-face {
  font-family: absolutThin;
  src: url("../fonts/Absolut_Pro_Thin_reduced.otf");
}

@font-face {
  font-family: absolut;
  src: url("../fonts/Absolut_Pro_Medium_reduced.otf");
}

.headline {
  margin-right: 1rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2rem;
  color: #005C9A;
}

.emphasis {
  display:block;
  color: #003563;
}

h1{
  font-size: 2.1rem;
}

h1.underline{
  padding: 0.4rem 0rem;
  color: #005B99;
  font-family: absolut;
  border-bottom: solid 2px #00B7EB;
}

h5.underline{
  padding: 0.2rem 0rem;
  font-family: absolut;
  border-bottom: solid 1px #fff;
}

/*-----------------*\
      ELEMENTOS
\*-----------------*/
/* forma general de los botones */
.button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: #fff;
}
/* imagenes, como el hexagono dentro de los links del footer */
.button img{
  margin-right: 0.3rem;
}

.button:hover{
  text-decoration: none;
  opacity: 0.9;
  color: #fff;
}

button.button {
  border: none;
}
/* efecto de borde transparente en imagenes */
img.border-blue {
  outline: solid 0.7rem rgba(0, 183, 234, 0.5);
  outline-offset: -0.7rem;
}

img.border-gray {
 border: solid #ECECFB 0.7rem;
}
/* imagen que acompaña al texto en 'servicios' */
.sidepic {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------*\
      COLORES
\*-----------------*/
.bg-darkblue {
  background-color: #003563;
}

.bg-blue {
  background-color: #005C9A;
}

.bg-gray {
  background-color: #ECECFB;
}

.text-white {
  color: #fff;
}

.text-darkblue {
  color: #003563
}

/*-----------------*\
      NAVEGACION
\*-----------------*/
.navbar {
  padding: 0
}

.nav-item {
  width: 9rem;
  height: 2.6rem;
  margin-left: 1rem;
  font-family: absolutThin;
  text-align: center;
  font-size: 1.3em;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background: #005C9A;
}

.nav-item a{
  color: white !important;
}

.nav-item a:hover{
  opacity: 0.7;
}

.navbar .active{
  background: #003563;
}

.navbar .active a{
  color: #00B7EB !important;
}

.navbar-light .navbar-toggler{
  border: none;
}
/* rectangulo debajo del navbar */
.separator {
  height: 2.2rem;
  display: block;
  background: #005C9A;
  border-bottom: 0.4rem solid #00B7EB;
}
/* fondo de patron del div donde esta el logo */
#logo {
  height: 100%;
  padding-top: 1.55rem;
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
}

/*-----------------*\
     FORMULARIOS
\*-----------------*/
.input {
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  border: none;
}

::placeholder {
  color: #005C9A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #005C9A;
}

::-ms-input-placeholder {
  color: #005C9A;
}

/*-----------------*\
     SECCIONES
\*-----------------*/

/*-----------------
carousel del index
------------------*/
.carousel img {
  width: auto;
  height: 25rem;
  max-height: 25rem;
  object-fit: contain;
}
.carousel-indicators {
  -ms-flex-pack: start;
  justify-content: start;
  margin-left: 5%;
}

.carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 50%;
  border: solid #fff 0.15rem !important;
  background-color: #fff;
}

.carousel-indicators .active {
  background-color: #005C9A;
}

.carousel-caption {
  bottom: 4.4rem;
  width: 35rem;
  left: 0;
  padding: 0.6rem 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-size: 2.2em;
  line-height: 2.5rem;
  color: #fff;
  background: #005C9A;
  border-bottom: solid 0.6rem #00B7EB;
}

/*--------------------
perfiles del 'notros' 
---------------------*/
.perfil {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* rectangulo donde sale la informacion del perfil */
.perfil .text {
  width: 15rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  background: #005C9A;
  border-bottom: #00B7EB solid 0.3rem;
}
/* nombre del perfil */
.perfil .text h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}
/* cargo del perfil */
.perfil .text h4 {
  font-size: 1.2em;
  line-height: 0.5em;
  color: #00B7EB;
}

/*------------------
 tarjeta de contacto 
--------------------*/
.contacto-card {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.contacto-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* separador entre los items */
.contacto-item:not(:last-child) {
  border-right: #00B7EB solid 1px;
}

.contacto-item .text {
  margin-left: 0.6rem;
  color: white;
}
/* wrapp del formulario */
.contacto-form {
  display: flex;
  height: calc(100% - 5.6rem);
}

/*-----------------*\
        FOOTER
\*-----------------*/
/* lista de informacion de contacto */
.footer-list ul{
  padding: 0;
  list-style-type: none;
  color: #fff;
}

.footer-list li{
  line-height: 1.7rem
}
/* links de redes sociales */
.social {
  text-align: center;
}

.social > a{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 1.2em;
  color: #fff;
}

.social > a:hover{
  text-decoration: none;
  opacity: 0.8;
}

#copyright {
  padding: 0.5rem 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  background: #002240;
  border-top: solid #00B7EB 0.3rem;
}

/*-----------------*\
     MEDIA QUERIES
\*-----------------*/
@media (max-width: 1190px) {
  /* para evitar que en contacto la direccion del correo se salga de su div */
  .contacto-item:nth-child(3) {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }
  .contacto-item:nth-child(3) .text {
    margin-left: 0rem;
  }
}

@media (max-width: 1060px) {
  .content, #navbar {
    padding-left: 4%;
    padding-right: 4%;
  }

  .nav-item {
    width: 7rem;
  }
}

/* navbar collapses */
@media (max-width: 767px) {
  .nav-item {
    width: 100%;
    margin-left: 0rem;
    margin-top: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .section-header {
    width: 100%;
  }
   /* quita el borde del segundo elemento de la tarjeta de contactos */
   /* cuando el layout se pone en dos filas */
  .contacto-item:nth-child(2) {
    border-right: none;
  }
  /* la seccion de correo de la tarjeta de contactos */
  /* vuelve a su diseño original */
  .contacto-item:nth-child(3) {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  .contacto-item:nth-child(3) .text {
    margin-left: 0.6rem;
  }

  /* menu del navbar toma todo el ancho */
  #navbar {
    padding: 0%;
  }
}

@media (max-width: 637px) {
  /* el caption del carousel toma todo el ancho para no cortar el texto */
  .carousel-caption {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .button {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    text-align: center;
  }

  .footer-logo {
    padding-bottom: 1rem;
    text-align: center;
  }

  .contacto-item:not(:last-child) {
    border-right: none;
  }
}

@media (max-width: 270px) {
  #carousel {
    display: none
  }
}
